name: Test
on: [push, pull_request]
permissions:
  contents: read
jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node: [18, 20, 22]
        arch: [x86, x64]
        exclude:
          - { os: ubuntu-latest, arch: x86 }
          - { os: macos-latest, arch: x86 }
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }} / Node ${{ matrix.node }} ${{ matrix.arch }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Use node ${{ matrix.node }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          architecture: ${{ matrix.arch }}
      - name: Install
        run: npm install
      - name: Test
        run: npm test
      - name: Coverage
        run: npm run coverage
      - name: Codecov
        uses: codecov/codecov-action@v5
        with:
          file: coverage/lcov.info
      # https://github.com/electron/electron/issues/42510#issuecomment-2171583086
      - name: Disable AppArmor restriction
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0
      - name: Test Electron
        if: ${{ matrix.node == '18' }}
        uses: GabrielBB/xvfb-action@v1
        with:
          run: npm run test-electron
      - name: Test GC
        run: npm run test-gc
